<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %> 
<body>
    <%- include('includes/header') %> 
    <main>
        <h2>Welcome to your Dashboard</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, iure accusamus consectetur non deserunt quaerat odit neque ducimus, quisquam mollitia dignissimos recusandae sunt, facilis distinctio necessitatibus quis modi autem officiis.</p>
    </main>
    <%- include('includes/footer') %> 
</body>
</html>